.correct {
  background-color: #dfffdf;
}

.wrong {
  background-color: #ffdfdf;
}

.scenario-info {
  margin-top: 30px;
  margin-bottom: 30px;
}

td {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  word-wrap: break-word;
  max-width: 900px;
}

.results-table {
}

.table-container {
  margin-top: 30px;
  margin-bottom: 30px;
}

tr {
  border: solid;
  border-color: #f0f0f0;
  border-width: 1px 0;
}

.results-table tr:first-child {
  background-color: #f9f9f9;
}

.logprob {
  font-size: 8pt;
  font-style: italic;
  color: gray;
}
