# General Python stuff
venv
__pycache__
*.egg-info
.mypy_cache
pip-wheel-metadata/

build
prod_env
benchmark_output
www
proxy_api_key*.txt
microsoft_client.lock
*.lock
*.log
*.out
*.jsonl
nltk_data/

# MechanicalTurkCritiqueClient
mturk/

# SlurmRunner
slurm/

# Where data lives (e.g., newsqa)
restricted

# Percy's stuff
rc
nav
tags
notes.otl

# HELM config files
/run_entries*.conf
/schema*.yaml

# For Macs
.DS_Store

# For PyCharm and IntelliJ
.idea
.vscode

# For vim
*.swp

# Miscellaneous
.nfs*

node_modules
