# General Python stuff
venv
__pycache__
*.egg-info

prod_env
benchmark_output
crfm_benchmarking_api_key.txt

# Percy's stuff
nav
tags
notes.otl

# For Macs
.DS_Store

# For PyCharm and IntelliJ
.idea
