# Dependency version constraints for `uv pip compile`
# See: https://docs.astral.sh/uv/pip/compile/#adding-constraints

# Constrain PyTorch versions to the same versions in install-dev.sh
torch==2.2.2
torchvision==0.17.2

# For some reason `uv pip compile` incorrectly resolves onnxruntime as:
#
# onnxruntime==1.20.1 ; python_full_version < '3.10'
# onnxruntime==1.22.0 ; python_full_version >= '3.10'
#
# but onnxruntime >=1.20 is not available on Python 3.9.
onnxruntime<1.20 ; python_full_version < '3.10'
