openai==0.2.4
bottle==0.12.19
gunicorn==20.1.0
dacite==1.6.0
google-api-python-client==2.35.0
Mako==1.1.5
pyhocon==0.3.58
pyOpenSSL==21.0.0
sqlitedict==1.7.0
sentencepiece==0.1.96   # Necessary for some of the HuggingFace tokenizers
torch==1.12.1
transformers==4.20.1
zstandard==0.17.0
jsonlines==3.0.0
retrying==1.3.3
websocket-client==1.3.2
icetk==0.0.4

# For development
click==8.0.3
black==19.10b0
flake8==3.8.3
mypy==0.782
pre-commit==2.16.0
pytest==6.2.5
typed-ast<1.5.0,>=1.4.0

# For specific scenarios
nltk>=3.6.7
sacrebleu
numpy
pandas
sklearn
pyext
datasets>=1.18.3
spacy==3.2.3
sympy==1.10
py-rouge==1.1
xlrd==2.0.1
rouge-score==0.0.4
gdown==4.4.0
pysocks==1.7.1
pytrec_eval==0.5
