html,
body {
    height: 100%;
    margin: 0px;
    background: #FBFBFB;
}
.my-container{
    font-family: 'Nunito Sans', sans-serif;
    /*font-size: 20px;*/
    /*font-family: 'Noto Sans', sans-serif;
    font-family: 'Abel', sans-serif;
    font-family: 'Cairo', sans-serif;
    font-family: 'Cantarell', sans-serif;
    font-family: 'Jost', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Quattrocento Sans', sans-serif;*/
}
/* Set fonts for different resolutions */
.my-container, .next-utterance-input > .new-utterance {
    font-family: 'Nunito Sans', sans-serif;
    /*font-size: 40px;*/


}
.transcript {
    overflow: scroll;
}
.chat-box > * {
    /*width:100%;*/
}
.chat-box{
    flex-grow: 1;
    min-height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /*padding: 0px 10px 0px 10px;*/
}

.speech-bubble-container{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
}
.user{
    justify-content: flex-end;
}
.bot{
    justify-content: flex-start;
}
.speech-bubble{
    /*border: lightcoral 1px solid;*/
    padding: 10px;
    max-width: 70%;

    margin: 0px 20px 0px 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}
.user > .speech-bubble {
    border-radius: 10px 20px 0px 10px;
    background: hsl(69, 32%, 92%);
    /*background: hsl(200, 54%, 95%);*/
}
.bot > .speech-bubble {
    background: hsl(352, 52%, 95%);
    border-radius: 20px 10px 10px 0px;
}
.bot.bot.turnlevel > .speech-bubble {
    background: lightgray;
    /*background-color: 2px solid lightgray;*/
}
.bot.bot.turnlevel.selected > .speech-bubble {
    background: hsl(355, 77%, 86%);
    /*background-color: 2px solid lightgray;*/
}
.next-utterance-input{
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    margin: 0px 10px 20px 10px;
    border: hsl(69, 32%, 80%) solid 2px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.next-utterance-input > .new-utterance{
    padding: 10px;
    flex-grow: 1;
    font-size: 20px;

    border-radius: 20px 0px 0px 20px;
    /*#border: hsl(69, 32%, 80%) solid 2px;*/
    border: 0;
    border-right: 0;
}
.next-utterance-input > .new-utterance:invalid {
    box-shadow: none;
}
.next-utterance-input > .new-utterance:focus {
    outline: none;
}
.next-utterance-input:focus-within {
    border: hsl(69, 32%, 50%) solid 2px
}

.next-utterance-input > .submit{
    border-radius: 0px 20px 20px 0px;
    /*border: hsl(69, 32%, 50%) solid 2px;*/
    border: 0;
    background: hsl(69, 32%, 90%);
    border-left: 0;
}
.my-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background: white;
    height:100%;
    font-size: 20px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}
@media (min-width: 800px) {

    .my-container{
        width: 800px;
        margin-left: auto;
        margin-right: auto;
        /*border-right:  #F4795B 1px solid;
        border-left: #F4795B 1px solid;*/
    }
}
@media (min-width: 800px) {
    .next-utterance-input > .new-utterance {
        font-size: 20px;
    }
}
.send-icon{
    width: 2.5rem;
    height: 2.5rem;
    fill:  #8C1515;
}
#interview-questions {
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.form-row{
    margin-bottom: 0.5rem;
}
.error {
    color: darkred;
}
.success {
    color: darkgreen;
}