html,
body {
    height: 100%;
    margin: 0px;
    background: #FBFBFB;
}
.my-container{
    font-family: 'Nunito Sans', sans-serif;
}
/* Set fonts for different resolutions */
.my-container, .next-utterance-input > .new-utterance {
    font-family: 'Nunito Sans', sans-serif;


}
.transcript {
    width: 840px;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: flex-start;
}
.chat-box{
    min-height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.speech-bubble-container{
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 400px;
    align-self: flex-end;
}
.speech-bubble-gutter {
    width: 140px;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    align-items: center;
}
.user{
    justify-content: flex-end;
}
.bot{
    justify-content: flex-start;
}
.speech-bubble{
    padding: 5px 10px;
    max-width: 168px;

    margin: 0px 20px 0px 00px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.prompt{
    justify-content:center;
    width: 400px;
}
.prompt > .speech-bubble {
    border-radius: 10px 10px 10px 10px;
    background:rgba(0, 0, 0, 0.16);
    max-width: 400px;

}
.user > .speech-bubble {
    border-radius: 10px 20px 0px 10px;
    background: hsl(69, 32%, 92%);
}
.bot > .speech-bubble {
    background: hsl(352, 52%, 95%);
    border-radius: 20px 10px 10px 0px;
}
.bot.bot.turnlevel > .speech-bubble {
    background: lightgray;
}
.bot.bot.turnlevel.selected > .speech-bubble {
    background: hsl(355, 77%, 86%);
}
.bot.bot.turnlevel.positive > .speech-bubble {
    background: hsl(355, 77%, 86%);
}
.bot.bot.turnlevel.negative > .speech-bubble {
    background: hsl(355, 77%, 86%);
}
.next-utterance-input{
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    margin: 0px 10px 20px 10px;
    border: hsl(69, 32%, 80%) solid 2px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    align-self: flex-end;
    width: 400px;
}
.next-utterance-input > .new-utterance{
    padding: 5px;
    flex-grow: 1;

    border-radius: 20px 0px 0px 20px;
    /*#border: hsl(69, 32%, 80%) solid 2px;*/
    border: 0;
    border-right: 0;
}
.next-utterance-input > .new-utterance:invalid {
    box-shadow: none;
}
.next-utterance-input > .new-utterance:focus {
    outline: none;
}
.next-utterance-input:focus-within {
    border: hsl(69, 32%, 50%) solid 2px
}

.next-utterance-input > .submit{
    border-radius: 0px 20px 20px 0px;
    /*border: hsl(69, 32%, 50%) solid 2px;*/
    border: 0;
    background: hsl(69, 32%, 90%);
    border-left: 0;
}
.my-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    background: white;
    height:100%;
    font-size: 12px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
@media (min-width: 800px) {

    .my-container{
        margin-left: auto;
        margin-right: auto;
    }
}
.send-icon{
    width: 2.5rem;
    height: 2.5rem;
    fill:  #8C1515;
}
#interview-questions {
    width: 400px;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.form-row{
    margin-bottom: 0.5rem;
}
.error {
    color: darkred;
}
.success {
    color: darkgreen;
}
.opt-out {
    font-size:small;
    color:rgba(0, 0, 0, 0.40);
}
#endConversation:disabled{
    opacity: 25%;
}
.ternary-btn-group {
    display: inline !important;
}
.ternary-btn-group .btn-secondary, .btn-danger, .btn-success {
    color: white;
}	
.btn {
    font-size: inherit !important;
}
#bottom-buttons,.ternary-options {
    width: 100%;
    display: flex;
    justify-content:center;
}
.instruction {
    font-size: 1rem;
}
