@tailwind base;
@tailwind components;
@tailwind utilities;

.recharts-legend-wrapper .recharts-default-legend .recharts-legend-item {
  cursor: pointer;
}

.tremor-BarList-bar,
.tremor-BarList-labelWrapper {
  height: 1.75rem;
}

.scenario-language-arabic .localize-text-direction {
  direction: rtl;
  text-align: right;
}
