.correct {
  background-color: #dfffdf;
}

.wrong {
  background-color: #ffdfdf;
}

.scenario-info {
  margin-top: 30px;
  margin-bottom: 30px;
}

td {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  word-wrap: break-word;
  max-width: 900px;
  vertical-align: top;
}

.results-table {
}

.table-container {
  margin-top: 30px;
  margin-bottom: 30px;
}

tr {
  border: solid;
  border-color: #f0f0f0;
  border-width: 1px 0;
}

.results-table thead tr {
  background-color: #f9f9f9;
}

.logprob {
  font-size: 8pt;
  font-style: italic;
  color: gray;
}

.list-header {
  font-size: 24px;
  font-weight: bold;
}
.list-item {
  color: black;
  font-size: 14px;
  white-space: nowrap;
}
.list-item-todo {
  color: lightgray;
}
.list-item:hover {
  color: black;
  text-decoration: none;
  background-color: lightgray;
}

.main-link {
  color: white;
  background-color: #53A0C0;
}
.main-link:hover {
  color: lightgray;
}

.access-open {
  background-color: lightgreen;
  width: 100px;
}
.access-limited {
  background-color: yellow;
  width: 100px;
}
.access-restricted {
  background-color: orange;
  width: 100px;
}
.access-closed {
  background-color: lightgray;
  width: 100px;
}

.technical-details {
  font-size: 10px;
  font-style: italic;
  color: gray;
}

.logo-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 20px;
}

.logo-item {
  margin: auto;
  padding: 10px;
}

.instance-input {
  font-style: italic;
  background-color: #f5f5f5;
  margin-left: 20px;
  white-space: pre-wrap;
}

.instance-reference {
  font-style: italic;
  background-color: #f5f5f5;
  white-space: pre-wrap;
}

.taxonomy-table {
  margin: 10px;
}

thead .table-sort-column {
  background-color: #ffe599;
}

tbody .table-sort-column {
  background-color: #fff2cc;
}

.prompt {
  font-style: italic;
  background-color: #f5f5f5;
  white-space: pre-wrap;
}

.plot {
  margin: 15px;
}

.plot img {
  margin: 10px;
}

.plot-caption {
  color: #555;
  font-style: italic;
  margin: 5px;
}
